<!doctype html>
<html>
   <body>
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Employee Information</h3>
         Employee ID<br>
         <input type = "text" name = "lc" /></br>
         
         Employee Name<br>
         <input type = "text" name = "cn" /></br>
      
         Employee Gender<br>
         <input name = "ct" ></textarea><br>
         
         Employee Phone Number<br>
         <input type = "text" name = "cp" /><br>
         
         Employee Birthdate<br>
         <input type = "text" name = "ad" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>
